DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=platepe
DB_PASSWORD=platepe_secret
DB_NAME=platepe_pos

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=8h

PORT=4000

MAIL_SERVICE=Gmail
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_google_app_password
MAIL_FROM=your_email@gmail.com
